<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Codemouv</title>
    <link rel="stylesheet" href="./src/css/defaults.css">
</head>
<body>
    <!-- Composant Navigation -->
    <section class="component--header">
        <header class="header--part">
            <div class="logotype">
                <h1 class="title--logo">Codemouv</h1>
            </div>
            <div class="nav--no-responsive">
                <nav class="navigation1">
                    <a href="#" class="nav-item">Acceuil</a>
                    <a href="#" class="nav-item">Catégories</a>
                    <a href="#" class="nav-item">Cours</a>
                    <a href="#" class="nav-item">S'inscrire</a>
                    <a href="#" class="nav-item">Se connecter</a>
                </nav>
            </div>
            <div class="nav--responsive">
                <nav class="navigation2">
                    <a href="#" class="nav-item">Acceuil</a>
                    <a href="#" class="nav-item">Catégories</a>
                    <a href="#" class="nav-item">Cours</a>
                    <a href="#" class="nav-item">S'inscrire</a>
                    <a href="#" class="nav-item">Se connecter</a>
                </nav>
            </div>
        </header>
    </section>
</body>
</html>